// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}

input.form-control {
  border-radius: 20px;
}

.no-border {
  border: 0 !important;
}
.btn-rounded {
  border-radius: 22px;
}

#site-layout {
  font-family: "Be Vietnam", sans-serif;

  .navbar {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #fff;
          padding-bottom:1px;

          &:hover{
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
  .home-first {
    width: 100%;
    height: 700px;
    background: url("../imgs/dog_walk.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
      z-index: 10;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }
  .home-second {
    width: 100%;
    height: auto;
    padding: 20px auto;
    background: #fff;
    position: relative;

    .icon-description {
      font-size: 3.2em;
    }

    .ilustration {
      width: 100%;
      display: block;
      margin: auto;
    }

    svg {
      position: absolute;
      bottom: 0;
      z-index: 10;
    }
  }
  .home-third {
    width: 100%;
    height: 700px;
    background: url("../imgs/pension.jpg") no-repeat;
    background-size: 100%;
    position: relative;

    svg.up {
      position: absolute;
      top: 0;
      left: 0;
    }

    svg.down {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .home-fourth {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;

    img {
      max-width: 95%;
      display: block;
      margin: 0 auto;
    }
  }
  .footer {
    background: $green-app;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
    ul {
      list-style: none;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .footer-icon {
      font-size: 2em;
    }
  }
}

#app-layout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  .logo {
    max-width: 180px;
    display: block;
    margin: 20px auto;
  }
  @media (min-width: 768px) {
    .h-md-100 {
      height: 100vh;
    }
  }
  .btn-round {
    border-radius: 30px;
  }
  .bg-indigo {
    background: url("../imgs/paseo_perros.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .text-cyan {
    color: #35bdff;
  }
}
